<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wedding Website{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>MICHAEL & MADDIE</h1>
        <h2>June 28, 2025 • Orcas Island</h2>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('lookup') }}">RSVP Lookup</a>
        <a href="{{ url_for('gallery') }}">Photo Gallery</a>
        <a href="{{ url_for('travel') }}">Travel</a>
    </nav>
  
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <button id="top-button" onclick="scrollToTop()">Return to Top</button>
        <p>&copy; Mike and Maddie 2024</p>
        <button onclick="window.location.href='mailto:sulgr001@gmail.com';">Email Us</button>
    </footer>

    <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</body>
</html>
