{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}

{% block content %}
<div class="content-container">

    <h1>What do I wear?</h1>
    <p>"Festive summer cocktail attire".  It's not quite clear even to us what this means, but dressy, fun clothing for an outdoor summer party. Bright colors, fun prints, clothes that you like! Men can wear a suit, sport jacket, dressy shirt, whatever. Women can wear florals, short or long dresses, really anything! Please no jeans though.  Bring a sweater/jacket for after the sun goes down.  Bathing suits also encouraged -- there's an ocean and a hot tub. </p>

    <h1>Where do I park?</h1>
    <p>THERE IS NO PARKING AT THE VENUE! Unless we've spoken to you about parking.</p> 
    <p>For everyone else, there is free parking located at the 
       <a href="https://www.google.com/maps/place/Emergency+Expedited+Passport/@48.6300773,-123.0014412,635m/data=!3m1!1e3!4m15!1m8!3m7!1s0x548587ce7eb08431:0x55edc7b9c074d789!2sCommunity+Club+Dr,+Deer+Harbor,+WA+98245!3b1!8m2!3d48.6310955!4d-122.9962893!16s%2Fg%2F1tcv13gf!3m5!1s0x548587e42f86ebb7:0xbaa7e4d623e5a303!8m2!3d48.6310996!4d-122.9988246!16s%2Fg%2F11x0wrs8bg?entry=ttu&g_ep=EgoyMDI1MDMxNi4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D" target="_blank">Deer Harbor Community Club</a>, 
       just a few minutes away from the venue. There will be a shuttle running to and from the community club before the ceremony and at the end of the night.
    </p>
    <p>Google maps says the club is an expedited passport agency. Don't know why, but you can park there.</p>
    
    
    <h1>Is there a registry?</h1>
    <p>No. Thank you for coming all the way out to the San Juan Islands to celebrate with us!</p>

    <h1>How do I RSVP?</h1>
    <p>On this website. Go to the home page and enter your name in the RSVP box.  If you are confused on how to do it or whether you have a plus one, just text us... we love talking to everyone coming</p>

    <h1>When are RSVPs due?</h1>
    <p>April 25th</p>

    <h1>What if I still have questions?</h1>
    <p>text or email!</p>
    <p>Maddie - 313.899.9641</p>
    <p>Mike - 507.269.2809</p>

    <h1>Are kids welcome?</h1>
    <p>Yes, we love kids! Let us know if they're coming in the RSVP form</p>

</div>

<style>
    .content-container {
        max-width: 600px; /* Adjust this value as needed */
        margin: 0 auto; /* Center the content horizontally */
        padding: 20px; /* Add some padding for better readability */
    }

    .content-container p {
        line-height: 1.6; /* Improve readability with increased line height */
    }

    .content-container ul {
        padding-left: 20px; /* Maintain indentation for list items */
        margin-bottom: 20px; /* Add spacing below lists */
    }

    .content-container h1, .content-container h2 {
        text-align: center; /* Center headings */
    }
</style>

{% endblock %}
