<head>
<link rel="stylesheet" href="/static/css/styles.css">
</head>

{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}

<h1>Welcome to Our Wedding Website!</h1>
<p>We are so excited to celebrate with you! Please RSVP below and check out our itinerary.</p>

<!-- RSVP Section -->
<div class="form-container">
    <form action="/find-invitee" method="POST">
        <h2>RSVP Here</h2>
        <div class="form-group">
            <label for="name">Enter Your Full Name:</label>
            <input type="text" id="name" name="name" placeholder="e.g., John Doe" required>
        </div>
        <button type="submit">RSVP</button>
    </form>
</div>


<h1>Itinerary</h1>
    <p>All events at Pebble Cove Farm <br>
        3341 Deer Harbor Rd, Eastsound, WA, 98245</p><br>
    <h3>Day Before Activities</h3>
    <p><strong>Friday, June 27, 2025</strong><br></p>
    <p><strong>7:00 PM–10:00 PM</strong><br>Dinner and Drinks</p>
    <p><Strong>Attire: </Strong>Casual</p>

    <h3>Wedding!</h3>
    <p><strong>Saturday, June 28, 2025</strong><br>Pebble Cove Farm<br><strong>Attire:</strong> Festive summer cocktail</p>
    <p><strong>3:00 PM–4:00 PM</strong><br>Ceremony</p>
    <p><strong>4:00 PM–5:30 PM</strong><br>Cocktail Hour</p>
    <p><strong>5:30 PM–7:30 PM</strong><br>Dinner</p>
    <p><strong>7:30 PM–10:00 PM</strong><br>Dancing</p>
    <p><strong>10:00 PM–12:00 AM</strong><br>Afterparty</p>
    <h3>Brunch</h3>
    <p><strong>Sunday, June 29, 2025</strong><br>9:00 AM–11:00 AM</p>
    <p><Strong>Attire: </Strong>Casual</p>


{% endblock %}
