{% extends 'base.html' %}

{% block title %}Travel Information{% endblock %}

{% block content %}
<div class="content-container">

    <h1>Getting There</h1>
    <p>The Anacortes ferry terminal is a 2-hour drive north from Seatac airport, then it's an extremely pretty 45-minute ferry ride from Anacortes to Orcas Island. Once you're on the island, the farm and town are both only a few miles from the ferry terminal.</p>

    <p><strong>NOTE:</strong> The ferry is prone to running late and occasionally gets canceled. We strongly encourage you to get to the island on Friday so you don't miss the wedding on Saturday. We will have a bunch of fun things planned to make it worth your while! We'll go whale watching and, in the evening, we'll have dinner at Pebble Cove Farm. We hope you'll join us!</p>

    <p>Having a car will help you make the most of your time on Orcas, but if you aren't able to get a vehicle reservation, we'll do some shuttling/carpooling on the island. There is a big parking lot at the ferry terminal in Anacortes where you'll be able to leave your car.</p>

    <h2>Ferry Schedule (Anacortes -> Orcas)</h2>
    <p>Here is the daily sailing schedule for Anacortes -> Orcas in June. <strong>Note:</strong> If you want to join us for  Friday Evening, you must catch one of the highlighted sailings below. You must arrive at the ferry terminal at least 30 minutes prior to sailing in order to secure your reservation, so we suggest landing at Seatac airport no later than 10 am PST on Friday if you plan to take the 1:55 pm ferry.</p>

    <ul>
        <li>5:30 - 6:20 am</li>
        <li>7:30 - 8:20 am</li>
        <li>10:35 - 11:45 am</li>
        <li>1:55 - 2:45 pm</li>
        <li>3:40 - 4:45 pm</li>
        <li>6:30 - 7:35 pm</li>
        <li>8:55 - 9:55 pm</li>
    </ul>

    <p>
        <a href="https://wsdot.com/ferries/Schedule" target="_blank">Ferry schedule</a><br>
        <a href="https://wsdot.wa.gov/Ferries/Reservations" target="_blank">Vehicle reservations</a><br>
        <a href="https://wave2go.wsdot.com/webstore/shop" target="_blank">Ferry tickets</a>
    </p>

    <h1>Getting Home</h1>
    <p>If you already purchased ferry tickets, you don't need a separate return ticket. However, you will still need to make a vehicle reservation for the return trip.</p>

    <p>
        <a href="https://secureapps.wsdot.wa.gov/ferries/reservations" target="_blank">Vehicle reservations</a>
    </p>

    <h2>Ferry Schedule (Orcas -> Anacortes)</h2>
    <p>Here is the daily sailing schedule for Orcas -> Anacortes. As a reminder, we'd love for you to join us for some brunch at Pebble Cove Farm until 11 am on Sunday. If flying home after the wedding, we recommend giving yourself plenty of time to get off the island and back down to Seatac to account for any delays or traffic.</p>

    <ul>
        <li>7:35 - 8:40 am</li>
        <li>8:40 - 10:10 am</li>
        <li>12:20 - 1:25 pm</li>
        <li>2:20 - 3:10 pm</li>
        <li>5:15 - 6:20 pm</li>
        <li>8:15 - 9:25 pm</li>
        <li>8:50 - 9:40 pm</li>
        <li>10:50 - 12:00 am</li>
    </ul>

    <h1>Where Should I Stay?</h1>
    <p>We've reserved a number of lodging options through Pebble Cove Farm, the Outlook Inn, and Deer Harbor Inn. When you RSVP, reach out to us and we can help you pick one and make sure you're accounted for!</p>

    <h2>Options</h2>
    <ul>
        <li><strong>Pebble Cove Farm:</strong> A number of rooms on site and a few cottages and townhouses in Eastsound. We rented them all out, so please give us a call and we'll set you up with one! <a href="https://pebblecovefarm.com/accommodations/" target="_blank">View accommodations</a></li>
        <li><strong>The Outlook Inn:</strong> Located in Eastsound, 8 miles from the farm. Reserve by calling (360) 376-2200 and request the Sulgrove/Burgoyne Wedding Room Block for a discounted rate of $220/night. Let us know if you choose this option! <a href="https://www.outlookinn.com/" target="_blank">Visit website</a></li>
        <li><strong>Deer Harbor Inn:</strong> Two little cabins in a quiet spot 2 miles from the farm. Reach out to us and we'll set you up with one! <a href="https://www.deerharborinn.com/" target="_blank">Visit website</a></li>
    </ul>
</div>

<style>
    .content-container {
        max-width: 600px; /* Adjust this value as needed */
        margin: 0 auto; /* Center the content horizontally */
        padding: 20px; /* Add some padding for better readability */
    }

    .content-container p {
        line-height: 1.6; /* Improve readability with increased line height */
    }

    .content-container ul {
        padding-left: 20px; /* Maintain indentation for list items */
        margin-bottom: 20px; /* Add spacing below lists */
    }

    .content-container h1, .content-container h2 {
        text-align: center; /* Center headings */
    }
</style>

{% endblock %}
